@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arimo;
    /* background-color: #22092C; */
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    background-image: url('Images/bg.png');
    overflow: hidden;
}

.card__chip img {
    width: 4rem;
    /* padding-top: 3rem; */

}

.checkBox-Info {
    /* background-color: green; */
    display: flex;
    /* height: 120px; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 12px 12px 12px;
}

.checkBox-Info label {
    color: white;
    margin-left: 10px;
}

.checkBox-Info input {
    margin-left: 10px;
}

/* #SaversCentral {
    padding: 10px;
    margin-bottom: 14px;
} */

.card__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

.card_title {
    font-weight: 600;
    font-size: 2.5rem;
    color: #1d005f;
    margin: 1rem 0 1.5rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.card__col {
    padding-right: 2rem;
}


.card__input {
    background: none;
    border: none;
    border-bottom: solid 0.2rem rgba(255, 255, 255, 0.15);
    font-size: 1.2rem;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding-top: 1rem;
    font-weight: 200;
}

.card__input--large {
    font-size: 2rem;
    padding-top: 1rem;
}

.card__chip {
    align-self: flex-end;
}

.card__input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.6);
}

.card__label {
    display: block;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.card__input ::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    text-align: center;
}

.card {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
    backdrop-filter: blur(0.8rem);
    padding: 1.5rem;
    border-radius: 1rem;
    animation: 1s cubic-bezier(0.16, 1, 0.3, 1) cardEnter;
}

.card__brand {
    font-size: 3rem;
    color: white;
    min-width: 100px;
    min-height: 75px;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    width: 75%;
    height: 2rem;
    border-radius: 1rem;
    background-color: transparent;
    border: solid 2px rgb(255, 255, 255, 0.3);
    font-weight: 600;
    letter-spacing: 1rem;
    color: black;

}

.submit button:hover {
    background-color: rgb(29, 0, 95, 0.8);
    border: solid 2px rgb(255, 255, 255, 0.6);
    color: white;
    /* opacity: 0.6; */
}

@keyframes cardEnter {
    from {
        transform: translateY(100vh);
        opacity: 0.1;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}